/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/02/2015, 09:57:34 PM
    Author     : Edgar
*/

body {    
background-color: #EAEAEA;    
}
@media (min-width: 1220px) {
  .container {
    width: 1220px;
  }
}
td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}
table.dataTable tbody tr.selected {
  background-color: #b0bed9;
}

table tbody tr.selected {
  background-color: #b0bed9;
}

.highligth{
    background: greenyellow;
}

.update{
    background: #269abc;
}

.error{
    background: orange;
}

#divModalCatProf .modal-backdrop.fade, #divModalCatAulas .modal-backdrop.fade{
    filter:alpha(opacity=0);
    opacity:0;
}

td.searchM,td.searchG{
    cursor:pointer;    
}

.horAnt{
    float: right;
    margin-right: 2%;
}


table.dataTable tbody tr.genReport:hover {
  background-color: #b0bed9;
  cursor:pointer;
}


.login-footer{
    padding: 15px 0;
  color: #999;
  text-align: center;
  
  /*background-color: #f9f9f9;*/
  border-top: 1px solid #e5e5e5;
}

.login-footer p:last-child {    
    margin-bottom: 0;         
}
/*.details-container{width:100%;}
.details-left{float:left;width:50%;}
.details-right{float:right;width:50%;}*/

td.gen-report {
    background: url('../img/pdf.png') no-repeat center center;
    cursor: pointer;
}