body {   
background-color: #EAEAEA;    
}

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.login-footer{
    padding: 15px 0;
  color: #999;
  text-align: center;
  
  /*background-color: #f9f9f9;*/
  border-top: 1px solid #e5e5e5;
}

.login-footer p:last-child {    
    margin-bottom: 0;         
}